body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .delete-btn {
    background-color: #f8051e;
    color: rgb(254, 254, 254);
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 25px;
    position: relative;
    left: 7px;
    /* margin-right: 10px;  */
    cursor: pointer;
  }
  